h1 {
  font-family: "sf_display_regular";
}

h3 {
  margin: 0px 0px 20px;
  font-family: "sf_display_semibold";
  &.ci-custom-h3 {
    font-family: "sf_display_bold";
  }
}

@font-face {
  font-family: 'sf_display_black';
  src: url('base/fonts/sanfranciscodisplay-black-webfont.woff2') format('woff2'),
  url('base/fonts/sanfranciscodisplay-black-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'sf_display_bold';
  src: url('base/fonts/sanfranciscodisplay-bold-webfont.woff2') format('woff2'),
  url('base/fonts/sanfranciscodisplay-bold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'sf_display_heavy';
  src: url('base/fonts/sanfranciscodisplay-heavy-webfont.woff2') format('woff2'),
  url('base/fonts/sanfranciscodisplay-heavy-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'sf_display_light';
  src: url('base/fonts/sanfranciscodisplay-light-webfont.woff2') format('woff2'),
  url('base/fonts/sanfranciscodisplay-light-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'sf_display_medium';
  src: url('base/fonts/sanfranciscodisplay-medium-webfont.woff2') format('woff2'),
  url('base/fonts/sanfranciscodisplay-medium-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'sf_display_regular';
  src: url('base/fonts/sanfranciscodisplay-regular-webfont.woff2') format('woff2'),
  url('base/fonts/sanfranciscodisplay-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'sf_display_semibold';
  src: url('base/fonts/sanfranciscodisplay-semibold-webfont.woff2') format('woff2'),
  url('base/fonts/sanfranciscodisplay-semibold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'sf_display_thin';
  src: url('base/fonts/sanfranciscodisplay-thin-webfont.woff2') format('woff2'),
  url('base/fonts/sanfranciscodisplay-thin-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'sf_display_ultralight';
  src: url('base/fonts/sanfranciscodisplay-ultralight-webfont.woff2') format('woff2'),
  url('base/fonts/sanfranciscodisplay-ultralight-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}
