.ci-socialButtons {

  display: block;
  padding: 0px 15px;
  background: white;
  z-index: 10;

  > div {
    padding: 0px;
  }

  button {

    * {
      cursor: pointer;
    }

    font-family: "sf_display_thin";
    background: white;
    color: black;
    border: 1px solid #000;
    display: block;
    height: 60px;
    width: 100%;
    // max-width: 225px;
    font-size: 20px;
    margin: 0 auto;
    margin-bottom: 25px;
    position: relative;
    text-align: center;
    padding-top: 6px;
    position: relative;

    &.ci-button-activated {
      background: black;
      color: white;
    }


    span:first-child {
      text-align: center;
      margin: 0 auto;
      position: relative;
      width: 130px;

      img {
        height: 35px;
        margin-right: 4px;
        margin-top: -5px;
      }
      span {
        padding-left: 0px;
        display: none;
      }
    }


  }

}


@include respond-to(small) {

}

@include respond-to(medium) {
  .ci-socialButtons {
    button {
      text-align: left;
      margin-bottom: 15px;
      span:first-child {
        padding-left: 15px;
        text-align: left;
        span {
          display: inline;
        }
      }
    }
  }

}

@include respond-to(large) {

}
