.ci-container {
  // padding: $bc-mainPadding;
}

.ci-titlebox {
  * {
    margin: 0px;
    padding: 0px;
  }
  margin: 30px 0px 50px 0px;
}

.ci-aboutbox {
  margin: 30px 0px;
}

.black {
  background: black;
}
.yellow {
  background: yellow;
}
.blue {
  background: blue;
}
.red {
  background: red;
}
.green {
  background: green;
}
