.ci-container {
  height: 100%;
  width: 100%;
  padding-top: 20px;
}

.ci-footer-mobile {
  position: relative;
  bottom: 65px;
}

.ci-navigation-helper {
  position: fixed;
  bottom: 0px;
  left: 0px;
  z-index: 555;
  width: 100%;
  background: rgba(255,255,255,0.9);
  height: 50px;

  span {
    line-height: 52px;
  }

  h1 {
    margin: 0px;
    line-height: 50px;
  }
}

.ci-titlebox {
  * {
    margin: 0px;
    padding: 0px;
  }

  margin: 0px 0px 30px 0px;
  padding: 0px;
  height: $titleBoxHeight;
  z-index: 10;

  h1 {
    // margin: -30px;
    padding: 15px;
    background: white;
  }

  br {
    display: none;
  }

}

.ci-leftPanel {
  height: auto;

  .ci-aboutbox-parent {
    position: fixed;
    bottom: 30px;
    z-index: -3;
  }

  .ci-aboutbox {
    margin: 30px 0px;
    max-width: 300px;
  }
}

.ci-grid-parent {
  // padding: 0px 10px;
  // margin-bottom: 50px;
}

.ci-rightPanel {
  display: block;
  position: relative;
  margin: 0px;
  margin-bottom: 50px;
  padding: 0px;

  .ci-right-description {
    padding: 0px 15px;
    margin-bottom: 30px;
    text-align: center;
    h2 {
      margin: 0px;
    }
    h3 {
      font-family: "sf_display_light";
      margin: 0px;
      margin-top: 20px;
    }
  }

  .ci-right-bigImage {
    display: block;
    margin: 0px;
    padding: 0px 15px;
    top: 0;
    height: 65%;
    // min-height: 250px;
    width: 100%;

    img {
      background-repeat: no-repeat;
      background-position: center;
      object-fit: contain;
      object-position: 50% 0%;
      min-height: 100%;
      max-height: 100%;
      min-width: 100%;
      max-width: 100%;
      display: block !important;

      &[src="empty"] {
        display: none !important;
        height: 0px;
      }
    }
  }

  .ci-right-form {
    margin: 0px;
    padding: 10px 0px 30px;
    position: relative;
    left: 0px;
    bottom: 0px;
    background: rgba(255,255,255,0.9);
  }
}


@include respond-to(small) {

}
@include respond-to(medium) {

  .ci-container > div {
    height: 100%;
  }

  .ci-box {
    height: 100%;
    width: 100%;
  }

  .ci-titlebox {
    br {
      display: block;
    }

    h1 {
      margin: -30px;
      padding: 30px;
    }
  }

  .ci-container {
    padding: 30px;
  }

  .ci-grid-parent {
    padding: 0px 35px;
    @include align-self(center);
    min-height: 450px;
    height: calc(100% - 135px);
  }

  .ci-leftPanel {
    padding: 0px;
  }

  .ci-rightPanel {
    margin-bottom: 0px;
    position: fixed;
    right: 30px;
    top: 0;
    bottom: 0;
    padding: $topDistance 0px 30px;

    .ci-right-description {
      text-align: left;
    }

    .ci-right-bigImage {
      margin: 0px;
      padding: 0px 15px;
      display: block;
    }
    .ci-right-form {
      position: absolute;;
    }
  }

}
@include respond-to(large) {

}
