// ------------------------------
// #COLORS
// ------------------------------

// ------------------------------
// #CUSTOM VARIABLES
// ------------------------------

// Main
$bc-backgroundColor: white;

// Structure
$bc-maxWidth: 1280px;
$bc-minWidth: 980px;
$bc-mainPadding: 15px;;
