// ------------------------------
// variables.scss
// Fabio Gois
// [carioca.build]
// ------------------------------

// ------------------------------
// #COLORS
// ------------------------------

$bc-blue1: #3B86FD;
$bc-blue2: #2361C2;
$bc-blueInactive: #75AAFD;
$bc-yellow: #FFEA00;
$bc-gray: #AFAFAF;

// ------------------------------
// #CUSTOM VARIABLES
// ------------------------------

// Main
$bc-backgroundColor: white;
$bc-footerBackgroundColor: transparent;

// Structure
$bc-maxWidth: 1280px;
$bc-minWidth: 980px;
$bc-mainPadding: 15px;

// Details
$bc-borderRadius: 8px;
$bc-footerHeight: 30px;

// Buttons
$bc-buttonBorderRadius: 8px;

// Panels
$bc-panelBackground: #fff;
$bc-panelPadding: 25px;
