@font-face {
    font-family: 'sf_ui_displayblack';
    src: url('fonts/sf-ui-display-black.woff2') format('woff2'),
         url('fonts/sf-ui-display-black.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'sf_ui_displaybold';
    src: url('fonts/sf-ui-display-bold.woff2') format('woff2'),
         url('fonts/sf-ui-display-bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'sf_ui_displaysemibold';
    src: url('fonts/sf-ui-display-semibold.woff2') format('woff2'),
         url('fonts/sf-ui-display-semibold.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
