<div>

    <!-- Header -->
    <div class="ci-titlebox col-xs-12 col-sm-12">
        <h1>
            Das fotos já publicadas por você,<br/>
            escolha uma que te traga boas lembranças.
        </h1>
    </div>

    <!-- Left-Panel -->
    <div class="col-xs-12 col-sm-12 col-md-3 col-lg-2 ci-leftPanel">
        <div class="ci-socialButtons row" ng-controller="AuthCtrl">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <h3>Biblioteca de Fotos</h3>
            </div>
            <div class="col-xs-4 col-sm-4 col-md-12 col-lg-12">
                <button ng-click="facebookLogin()">
                    <span>
                        <img src="images/facebook-logo.svg" alt="facebook"/>
                        <span>Facebook</span>
                    </span>
                </button>
            </div>
            <div class="col-xs-4 col-sm-4 col-md-12 col-lg-12">
                <button>
                    <span>
                        <img src="images/flickr-logo.svg" alt="flickr"/>
                        <span>Flickr</span>
                    </span>
                </button>
            </div>
            <div class="col-xs-4 col-sm-4 col-md-12 col-lg-12">
                <button>
                    <span>
                        <img src="images/instagram-logo.svg" alt="instagram"/>
                        <span>Instagram</span>
                    </span>
                </button>
            </div>
        </div>

        <div class="hidden-xs hidden-sm">
            <div class="ci-aboutbox">
                <h3><u>Sobre o projeto</u></h3>
                <!-- <p>Projeto desenvolvido por Haroldo Olivieri para o projeto de conclusão do curso de graduação de Design de Mídia Digital da PUC-Rio. CrowdedInfo tem o objetivo de coletar o maior número de data sobre fotos, sua localização e a suas relações com seus donos.</p> -->
            </div>
            <div>
                <h3 class="ci-custom-h3">Projeto acadêmico</h3>
                <img src="images/dad-logo.svg" alt="puc-rio dad" height="70" class="ci-aboutImg"/>
            </div>
        </div>
    </div>

    <!-- Grid -->
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-5 ci-grid-parent" ng-controller="MainCtrl">

        <div class="col-xs-12 col-sm-12 ci-grid">
          <div class="col-xs-4 col-sm-4 col-md-4 col-lg-3">
              <a>
                  <img class="img-responsive" src="http://placehold.it/750x750/000000/ffffff" alt="">
              </a>
          </div>
          <div class="col-xs-4 col-sm-4 col-md-4 col-lg-3">
              <a>
                  <img class="img-responsive" src="http://placehold.it/750x750/000000/ffffff" alt="">
              </a>
          </div>
          <div class="col-xs-4 col-sm-4 col-md-4 col-lg-3">
              <a>
                  <img class="img-responsive" src="http://placehold.it/750x750/000000/ffffff" alt="">
              </a>
          </div>
          <div class="col-xs-4 col-sm-4 col-md-4 col-lg-3">
              <a>
                  <img class="img-responsive" src="http://placehold.it/750x750/000000/ffffff" alt="">
              </a>
          </div>
          <div class="col-xs-4 col-sm-4 col-md-4 col-lg-3">
              <a>
                  <img class="img-responsive" src="http://placehold.it/750x750/000000/ffffff" alt="">
              </a>
          </div>
          <div class="col-xs-4 col-sm-4 col-md-4 col-lg-3">
              <a>
                  <img class="img-responsive" src="http://placehold.it/750x750/000000/ffffff" alt="">
              </a>
          </div>
          <div class="col-xs-4 col-sm-4 col-md-4 col-lg-3">
              <a>
                  <img class="img-responsive" src="http://placehold.it/750x750/000000/ffffff" alt="">
              </a>
          </div>
          <div class="col-xs-4 col-sm-4 col-md-4 col-lg-3">
              <a>
                  <img class="img-responsive" src="http://placehold.it/750x750/000000/ffffff" alt="">
              </a>
          </div>
          <div class="col-xs-4 col-sm-4 col-md-4 col-lg-3">
              <a>
                  <img class="img-responsive" src="http://placehold.it/750x750/000000/ffffff" alt="">
              </a>
          </div>
          <div class="col-xs-4 col-sm-4 col-md-4 col-lg-3">
              <a>
                  <img class="img-responsive" src="http://placehold.it/750x750/000000/ffffff" alt="">
              </a>
          </div>
          <div class="col-xs-4 col-sm-4 col-md-4 col-lg-3">
              <a>
                  <img class="img-responsive" src="http://placehold.it/750x750/000000/ffffff" alt="">
              </a>
          </div>
          <div class="col-xs-4 col-sm-4 col-md-4 col-lg-3">
              <a>
                  <img class="img-responsive" src="http://placehold.it/750x750/000000/ffffff" alt="">
              </a>
          </div>
          <div class="col-xs-4 col-sm-4 col-md-4 col-lg-3">
              <a>
                  <img class="img-responsive" src="http://placehold.it/750x750/000000/ffffff" alt="">
              </a>
          </div>
          <div class="col-xs-4 col-sm-4 col-md-4 col-lg-3">
              <a>
                  <img class="img-responsive" src="http://placehold.it/750x750/000000/ffffff" alt="">
              </a>
          </div>
          <div class="col-xs-4 col-sm-4 col-md-4 col-lg-3">
              <a>
                  <img class="img-responsive" src="http://placehold.it/750x750/000000/ffffff" alt="">
              </a>
          </div>
          <div class="col-xs-4 col-sm-4 col-md-4 col-lg-3">
              <a>
                  <img class="img-responsive" src="http://placehold.it/750x750/000000/ffffff" alt="">
              </a>
          </div>
          <div class="col-xs-4 col-sm-4 col-md-4 col-lg-3">
              <a>
                  <img class="img-responsive" src="http://placehold.it/750x750/000000/ffffff" alt="">
              </a>
          </div>
          <div class="col-xs-4 col-sm-4 col-md-4 col-lg-3">
              <a>
                  <img class="img-responsive" src="http://placehold.it/750x750/000000/ffffff" alt="">
              </a>
          </div>
          <div class="col-xs-4 col-sm-4 col-md-4 col-lg-3">
              <a>
                  <img class="img-responsive" src="http://placehold.it/750x750/000000/ffffff" alt="">
              </a>
          </div>
          <div class="col-xs-4 col-sm-4 col-md-4 col-lg-3">
              <a>
                  <img class="img-responsive" src="http://placehold.it/750x750/000000/ffffff" alt="">
              </a>
          </div>
          <div class="col-xs-4 col-sm-4 col-md-4 col-lg-3">
              <a>
                  <img class="img-responsive" src="http://placehold.it/750x750/000000/ffffff" alt="">
              </a>
          </div>
          <div class="col-xs-4 col-sm-4 col-md-4 col-lg-3">
              <a>
                  <img class="img-responsive" src="http://placehold.it/750x750/000000/ffffff" alt="">
              </a>
          </div>
          <div class="col-xs-4 col-sm-4 col-md-4 col-lg-3">
              <a>
                  <img class="img-responsive" src="http://placehold.it/750x750/000000/ffffff" alt="">
              </a>
          </div>
          <div class="col-xs-4 col-sm-4 col-md-4 col-lg-3">
              <a>
                  <img class="img-responsive" src="http://placehold.it/750x750/000000/ffffff" alt="">
              </a>
          </div>
          <div class="col-xs-4 col-sm-4 col-md-4 col-lg-3">
              <a>
                  <img class="img-responsive" src="http://placehold.it/750x750/000000/ffffff" alt="">
              </a>
          </div>
          <div class="col-xs-4 col-sm-4 col-md-4 col-lg-3">
              <a>
                  <img class="img-responsive" src="http://placehold.it/750x750/000000/ffffff" alt="">
              </a>
          </div>

        </div>

        <!-- <div class="col-xs-12 col-sm-12 ci-grid-empty">
            <div>
                <h3>Nenhuma foto carregada</h3>
                <h3>Escolha da sua biblioteca de fotos</h3>
            </div>
        </div> -->
    </div>


    <!-- Right-Panel -->
    <div class="col-xs-12 col-sm-12 col-md-3 col-lg-5 ci-rightPanel">
        <div class="hidden-xs hidden-sm ci-right-bigImage">
            <img class="img-responsive" ng-src="{{selectedImage}}" alt="">
        </div>

        <div class="ci-right-form">

            <div class="ci-form-inline form-inline row">

                <div class="col-xs-12 col-sm-12">
                    <h3>Dados da imagem</h3>
                </div>

                <div class="col-xs-12 col-sm-12">
                    <input type="text" class="ci-form-full" placeholder="Localização">
                </div>

                <div class="col-xs-4 col-sm-4">
                    <input type="text" placeholder="Mês">
                </div>

                <div class="col-xs-4 col-sm-4">
                    <input type="text" placeholder="Ano">
                </div>

                <div class="col-xs-4 col-sm-4">
                    <button type="submit">Enviar!</button>
                </div>

            </div>

        </div>
    </div>

    <div class="visible-xs-block visible-sm-block">
        <div class="col-xs-6">
            <h3>Projeto acadêmico</h3>
            <img src="images/dad-logo.svg" alt="puc-rio dad"/ height="70" class="ci-aboutImg">
        </div>
        <div class="col-xs-6">
            <h3>Sobre o projeto</h3>
            <p>Sobre o projeto</p>
        </div>
    </div>

</div>
