<div class="container-fluid">

    <!-- Header -->
    <div>
        <h1>
            Das fotos já publicadas por você, escolha uma que te traga boas lembranças.
        </h1>
    </div>

    <!-- Left-Panel -->
    <div>
        <div>
            <h2>Biblioteca de Fotos</h2>
            <button>Facebook</button>
            <button>Flickr</button>
            <button>Instagram</button>
        </div>

        <div>
            <h2>Sobre o projeto</h2>
            <p>Sobre o projeto</p>
        </div>

        <div>
            <h2>Projeto acadêmico</h2>
            <p>Artes & Design PUC-Rio</p>
        </div>
    </div>

    <!-- Grid -->
    <div>
        <div></div>
        <div>
            <p>Nenhuma foto carregada</p>
            <p>Escolha da sua biblioteca de fotos</p>
        </div>
    </div>

    <!-- Right-Panel -->
    <div>
        <div>[IMAGEM]</div>

        <div>
            <h2>Dados da imagem</h2>
            <form>
                <div>
                    <input type="text" placeholder="Localização"></input>
                </div>
                <div>
                    <div>
                        <input type="text" placeholder="Mês"></input>
                    </div>
                    <div>
                        <input type="text" placeholder="Ano"></input>
                    </div>
                    <div>
                        <button type="submit">Enviar!</button>
                    </div>
                </div>

            </form>
        </div>
    </div>
</div>
